.skills-main {
  /* background-color: #e2e4e3; */
  padding: 40px 0px 60px 0px;
}

.skillsWrapper {
  width: 90%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.skills-heading {
  font-size: 40px;
  color: goldenrod;
}

.skillsTechnologiesDiv {
  width: 100%;
  margin: auto;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
  padding: 20px 0px;
}

.skillsProficienciesDiv {
  width: 100%;
  margin: auto;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, auto);
  gap: 40px;
  padding: 20px 0px;
}

.skillsToolsDiv {
  width: 100%;
  margin: auto;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
  padding: 20px 0px;
}

/* meidum screens */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .skillsWrapper {
    width: 100%;
  }

  .skillsTechnologiesDiv {
    grid-template-columns: repeat(3, auto);
  }

  .skillsProficienciesDiv {
    grid-template-columns: repeat(3, auto);
  }

  .skillsToolsDiv {
    grid-template-columns: repeat(3, auto);
  }
}
/* small screens */
@media all and (min-width: 280px) and (max-width: 767px) {
  .skillsWrapper {
    width: 100%;
  }

  .skillsTechnologiesDiv {
    grid-template-columns: repeat(2, auto);
  }

  .skillsProficienciesDiv {
    grid-template-columns: repeat(2, auto);
  }

  .skillsToolsDiv {
    grid-template-columns: repeat(2, auto);
  }
}
/* below small screen  */
@media all and (min-width: 100px) and (max-width: 300px) {
  .skillsWrapper {
    width: 100%;
  }

  .skillsTechnologiesDiv {
    grid-template-columns: repeat(1, auto);
  }

  .skillsProficienciesDiv {
    grid-template-columns: repeat(1, auto);
  }

  .skillsToolsDiv {
    grid-template-columns: repeat(1, auto);
  }
}

.skillsToolsDiv > div {
  -webkit-transition: width 2s, height 2s, transform 2s;
  -moz-transition: width 2s, height 2s, transform 2s;
  -ms-transition: width 2s, height 2s, transform 2s;
  -o-transition: width 2s, height 2s, transform 2s;
  transition: width 2s, height 2s, transform 2s;
}
.skillsToolsDiv > div:hover {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
.skillsTechnologiesDiv > div {
  -webkit-transition: width 2s, height 2s, transform 2s;
  -moz-transition: width 2s, height 2s, transform 2s;
  -ms-transition: width 2s, height 2s, transform 2s;
  -o-transition: width 2s, height 2s, transform 2s;
  transition: width 2s, height 2s, transform 2s;
}
.skillsTechnologiesDiv > div:hover {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}


